<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iVar Calculation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<br><br>
<table>
    <tr>
        <td>
            <form action="#" th:action="@{/download}" th:method="GET">
                <button type="submit" id="submitDownload" class="btn btn-primary"> Download Data</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/calculate}" th:method="GET">
                <button type="submit" id="submitCal" class="btn btn-success"> Calculate Ivar</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/saveResult}" th:method="GET">
                <button type="submit" id="submitSave" class="btn btn-danger"> Save Ivar</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/viewIvar}" th:method="GET">
                <button type="submit" id="submitView" class="btn btn-warning"> View Ivar</button>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <br>
            <div class="alert alert-primary" role="alert" th:if="${#strings.equalsIgnoreCase(status, '1')}" style="height: 52px;">
                <p th:text="${message}"></p>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${#strings.equalsIgnoreCase(status, '-1')}" style="height: 52px;">
                <p th:text="${message}"></p>
            </div>
        </td>
    </tr>
</table>
<br>
<br>
<h2>Result </h2>
<div class="row">
    <div class="col-md-10">
        <table class="table table-responsive table-striped table-bordered">
            <tr>
                <th>Symbol</th>
                <th> 1Y</th>
                <th> 3Y</th>
                <th> 5Y</th>
                <th> 10Y</th>
                <th> Norm 1Y</th>
                <th> Norm 3Y</th>
                <th> Norm 5Y</th>
                <th> Norm 10Y</th>
                <th> Perf 1Y</th>
                <th> Perf 3Y</th>
                <th> Perf 5Y</th>
                <th> Perf 10Y</th>
            </tr>
            <tr th:each="list: ${result}">
                <td th:text="${list.symbol}"></td>
                <td th:text="${list.y1}"></td>
                <td th:text="${list.y3}"></td>
                <td th:text="${list.y5}"></td>
                <td th:text="${list.y10}"></td>
                <td th:text="${list.normY1}"></td>
                <td th:text="${list.normY3}"></td>
                <td th:text="${list.normY5}"></td>
                <td th:text="${list.normY10}"></td>
                <td th:text="${list.perfY1}"></td>
                <td th:text="${list.perfY3}"></td>
                <td th:text="${list.perfY5}"></td>
                <td th:text="${list.perfY10}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>