<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iVar Calculation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<br><br>
<table>
    <tr>
        <td>
            <form action="#" th:action="@{/initialize}" th:method="GET">
                <button type="submit" id="submitDownload" class="btn btn-primary"> Initialize</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/viewIvar}" th:method="GET">
                <button type="submit" id="submitView" class="btn btn-warning"> View Ivar</button>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <br>
            <div class="alert alert-primary" role="alert" th:if="${#strings.equalsIgnoreCase(status, '1')}" style="height: 52px;">
                <p th:text="${message}"></p>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${#strings.equalsIgnoreCase(status, '-1')}" style="height: 52px;">
                <p th:text="${message}"></p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>