<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Ivar Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <br>
    <h2><u>Find Stocks based on iVaR</u></h2>
    <br>

    <div class="col-md-12">
        <div class="row">
            <button onclick="setPeriod(1)" type="button" class="btn btn-outline-primary" style="margin-left:10px">1M&nbsp;</button>
            <button onclick="setPeriod(2)" type="button" class="btn btn-outline-primary" style="margin-left:10px">2M&nbsp;</button>
            <button onclick="setPeriod(3)" type="button" class="btn btn-outline-primary" style="margin-left:10px">3M&nbsp;</button>
            <button onclick="setPeriod(4)" type="button" class="btn btn-outline-primary" style="margin-left:10px">4M&nbsp;</button>
            <button onclick="setPeriod(6)" type="button" class="btn btn-outline-primary" style="margin-left:10px">6M&nbsp;</button>
            <button onclick="setPeriod(9)" type="button" class="btn btn-outline-primary" style="margin-left:10px">9M&nbsp;</button>
        </div>
        <br>
        <div class="row">
            <button onclick="setPeriod(12)" type="button" class="btn btn-outline-primary" style="margin-left:10px">1Y&nbsp;</button>
            <button onclick="setPeriod(18)" type="button" class="btn btn-outline-primary" style="margin-left:10px">18m
            </button>
            <button onclick="setPeriod(24)" type="button" class="btn btn-outline-primary" style="margin-left:10px">2Y&nbsp;</button>
            <button onclick="setPeriod(36)" type="button" class="btn btn-outline-primary" style="margin-left:10px">3Y&nbsp;</button>
            <button onclick="setPeriod(60)" type="button" class="btn btn-outline-primary" style="margin-left:10px">5Y&nbsp;</button>
            <button onclick="setPeriod(120)" type="button" class="btn btn-outline-primary" style="margin-left:10px">
                10Y
            </button>
        </div>
        <br><br>
        <form action="#" th:action="@{/calculate}" th:method="GET">
            <input type="hidden" name="period" id="period">
            <div class="row">
                <div class="col">
                    <input type="date" class="form-control" name="startDate" placeholder="Start Date" id="startDate">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Stock Name" name="stockName">
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" class="form-control btn btn-outline-success" value="Search" placeholder="">
                </div>
            </div>
        </form>

        <br><br>
        <div class="row">
            <table class="table table-responsive table-bordered">
                <tr th:each=" list, iterStat: ${data}">
                    <td th:text="${list[0]}"></td>
                    <td th:text="${list[1]}"></td>
                    <td th:text="${list[2]}"></td>
                    <td th:text="${list[3]}"></td>
                    <td th:text="${list[4]}"></td>
                    <td th:text="${list[5]}"></td>
                    <td th:text="${list[6]}"></td>
                    <td th:text="${list[7]}"></td>
                    <td th:text="${list[8]}"></td>
                    <td th:text="${list[9]}"></td>
                    <td th:text="${list[10]}"></td>
                    <td th:text="${list[11]}"></td>
                    <td th:text="${list[12]}"></td>
                    <td th:text="${list[13]}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    setPeriod(1);
    document.getElementById('startDate').valueAsDate = new Date();

    function setPeriod(value) {
        document.getElementById('period').value = value;
    }
</script>
</body>
</html>